*{
    font-family: Arial, Helvetica, sans-serif
}
.first_nav{
    background-color: black;
    height: 50px;
    margin-top: 0px;

    
}
.first_nav ul li a{
    color:white;
    text-decoration: none;
    display: inline-block;
    padding-top: 15px;

    
}
.first_nav ul li{
    display: inline;
    
}
.first_nav .left_list a{
    padding-left: 15px;
}
.first_nav .right_nav{
float: right;
margin-right: 20px;

}

.first_nav .right_nav select{
    color: white;
    background-color: black;
    border: none;
    padding: 5px;
}
 /*techology part*/

.first_section{
    display: inline-flex;
 
}
.first_section .logo{
   
   display: inline-flex;
}
.first_section .send_message{
    margin-left: 30%;
}

.first_section{
    margin-top: 15px; 
    margin-left: 10%;
}
.row .col-sm{
    padding-left: 50px;

}
#logotext{
    display: inline-flex;

}
#logotext h3{
    margin-top: 30px;
    padding-left: 10px;
}
/*section id=first*/
#first
{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 300px 300px;
    grid-row: 2;
}
#first > div:first-child
{
    grid-column: 1;
    grid-row: 1/3;
    margin: 3px;
    display: flex;
    align-items: center;
    background-color: #b8d6e0;
    justify-content: space-around;
}
#first > div:first-child > div
{
    width: 30%;
}
#first > div > img
{
    width: 40%;
    height: 50%;
}
#first > div > div:first-child > p:first-child
{
    background-color: #f2f2f2;
    padding: 2px;
    display: inline;
}
#first > div:first-child > div:first-child > h3
{
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 0;
}
#first > div > div:first-child > input
{
    padding: 10px;
    font-weight: 700;
    border-radius: 10%;
}
#first > div:nth-child(2)
{
    grid-column: 2;
    grid-row: 1;
    background-color:  #ffe6cc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3px;
}
#first > div:last-child
{
    grid-column: 2;
    grid-row: 2;
    background-color:  #e6e6ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3px;
}
#first #btnShopNow{
    color: black;
    font-weight: 700;
  
}

/*section id=second*/
#second > div:nth-child(2)
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.card-img
{
    width: 80%;
    margin: auto;
}
.card
{
    background-color: white;
    padding:5px 15px;
    margin: 5px;
    display: grid;
    grid-template-rows: 200px 120px; 
}
.rating-img
{
    width: 100px; ;
    opacity: 40%;
}
.card p,.card h4
{
    padding: 0;
    margin: 0;
}
.card p span
{
    font-weight: bold;
}
#second > div:first-child
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

/*section id=third*/
#third > div:nth-child(2)
{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 340px;
}
#third > div:nth-child(2) > div
{
    background-color: white;
    margin: 0 5px;
    display: grid;
    grid-template-columns: 50% 50%;
}
#third > div:nth-child(2) > div > div
{
    margin: auto 10px;
}
#third > div:nth-child(2) h4
{
    padding: 0;
    margin: 0;
}
#third > div:first-child
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
#third > div:first-child > div
{
    display: flex;
    align-items: center;
}
#third > div:first-child > div > p
{
    background-color: #ff4d94;
    border-radius: 2px;
    color: white;
    padding: 3px 5px;
    margin-left: 10px;
}

 /*third section*/
 .third_section .btn{
     background-color: rgb(231, 45, 116);
     color: white;
     padding: 10px;
     font-weight: 300;
 }
 .third_section a{
     color: black;
     text-decoration: none;
     padding-left: 15px;
 }
.third_section select{
    border: none;
    font-weight: 600;
}
.third_section input{
   margin-left: 30px;
   padding: 5px;
}
.third_section{
    font-weight: 600;
}
#phone1{
width: 100px;
}
/*fourth section*/


/*drop us a line section*/

.contactsection{
    margin-top: 50px;
}
#btn{
    background-color: rgb(204, 35, 100);
    margin-left: 85%;
    padding: 8px;
    color: white;
}
.btncolor{
    background-color: rgb(204, 35, 100);
}

/*SHOP PAGE*/

/*Homme Card*/
#home-card a{
    text-decoration: none;
    color: grey;
}
#tshirt{
    width: 130px;
    height: 130px;
    
}

.card .tshirt a{
    text-decoration: none;
}
#secondcard{
    margin-top: 35px;
}
#thirdcard{
    margin-top: 35px;
}
.checked{
    color: gray;
}
#fourthrow{
    margin-bottom: 100px;
}

/*FOOTER*/
footer
{
    background-color: #f2f2f2;
}
/*section search*/
#search
{
    background-color: #262626;
    color: white;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: 80px;
    padding:0 15% 0 15%;
}
#search > div:first-child
{
    display: flex;
    justify-content:center;
    align-items: center;
}
#search > div:first-child >div >p, #search > div:first-child >div >h4
{
    margin: 0px 8px;
}
#search > div:nth-child(2)
{
    display: flex;
    justify-content:center;
    align-items: center;
}
#search > div:nth-child(2)>input:first-child
{
    height: 26px;
    width: 200px;
    border-radius: 5px;
    border: none;
}
#search > div:nth-child(2)>input:nth-child(2)
{
    height: 30px;
    background-color: #da1d69;
    border-radius: 5px;
    margin-left: 5px;
    border: none;
}
#search > div:last-child
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 10px;
    opacity: 50%;
}
/*section id=links*/
#links
{
    padding: 15px 15%;
    display: flex;
    justify-content:space-between;
}
#links > div >a
{
    text-decoration: none;
    color: #b3b3b3;
}

/*section id=last*/
#last
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15%;
}
#last > div
{
    display: flex;
    align-items: center;
    margin: 0 5px;
}
#last > div > div > h5, #last > div > div > p 
{
    padding: 0 5px;
    margin: 0;
}
footer p
{
    color: #b3b3b3;
}
footer >p:last-of-type
{
    text-align: center;
}
footer > hr
{
    width: 70%;
}

/*comment error for contact page*/
.comment_error{
    color: red;
}
.comment_error_email{
    color: red;
}
/*order table*/
#order-table{
    border: 1px solid black;
}
/*login form*/

